*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body{
     background: #000;
     font-family: 'Courier New', Courier, monospace;
     font-size: 12pt;
}
.Employee{
     display: inline-block;
     width: 12.5rem;
     border: 0.125rem solid black;
     padding: 0.625rem 1.875rem;
     margin: 0.625rem;
}
li{margin: 0.625rem;}